/*------------------------------------------------------------------
[Table of contents]

1. Body
2. Header
3. Search
4. Movie

-------------------------------------------------------------------*/

/*
====================================================================
            1. Body
====================================================================
*/

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0px;
  background-color: $bg-color;
}

ul {
  padding: 0;
  li {
    list-style-type: none;
  }
}

/*
====================================================================
            2. Header
====================================================================
*/

h1 {
  font-size: 3em;
  display: inline;
  color: $font-white;
}
