/*------------------------------------------------------------------
[Table of contents]

1. Body
2. Header
3. Search
4. Movie

-------------------------------------------------------------------*/

/*
====================================================================
            1. Body
====================================================================
*/

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0px;
  background-color: $bg-color;
}

ul {
  padding: 0;
  li {
    list-style-type: none;
  }
}

.container {
  @include flexbox(flex, column, normal, normal);
}

/*
====================================================================
            2. Header
====================================================================
*/

h1 {
  @include flexbox(flex, row, center, normal);
  color: $font-h1;
}
