// Background
$bg-color: #333333;
$search-bg-color: rgba(255,255,255,0.9);

// Fonts
$font-h1: #B3E6A6;
$font-search-light: lighten(#666, 50%);
$font-search-dark: #666;

// Border
$border-search: #FFCCCC;
