.home-container {
  #bg-img {
   min-height: 100%;
   min-width: 1024px;

   width: 100%;
   height: auto;

   position: fixed;
   top: 0;
   left: 0;
   z-index: -9999;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-linear-gradient(top left, #002f4b, #dc4225);
    background-image: -o-linear-gradient(top left, #002f4b, #dc4225);
    background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
    opacity: .6;
    z-index: -1;
  }
}

.home-wrapper {
  @include flexbox(flex, column, center, center);
  position: fixed;
  height: 75%;
  width: 100%;
}

.logo {
  width: 100px;
  content:url('../assets/LOGO_WHITE.png');
}

