.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -9999;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: opacity(.2) grayscale(75%);
}
.movie-container {
  .header {
    display: flex;
    justify-content: flex-start;
    padding: 20px 0px 20px 0px;
    background: linear-gradient(135deg, rgba(255,25,25,0.8) 0%, rgba(135,23,133,0.6) 47%, rgba(0,21,255,0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1919', endColorstr='#0015ff', GradientType=1 );
    .logo {
      width: 100px;
      height: 100px;
      &:hover {
        cursor: pointer;
      }
    }
    .search-bar {
      flex-grow: 1;
      @include flexbox(flex, column, center, center);
      input {
        width: 60%;
      }
      .search-results-list {
        position: absolute;
        top: 95px;
        z-index: 9999;
        width: 59%;
      }
    }
  }

  .similar-movies {
    width: auto;
    height: 40vh;
    background-color: white;
    padding: 10px 15vw;
    p {
      margin-top: 0px;
      font-weight: bolder;
    }
    .movie-row {
      display: flex;
      justify-content: space-between;
      img {
        display: block;
        max-width: 100%;
        height: auto;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .jumbotron {
    padding-bottom: 20px;
    position: relative;
    height: 100%;
    overflow: hidden;
    .info-content > * {
      margin-bottom: 20px;
    }
    .info-wrapper {
      @include flexbox(flex, row, flex-start, flex-start);
      padding: 30px 25%;
      .poster-image {
        width: 45%;
        border: 1px solid white;
        padding: 0px;
        margin-right: 25px;
      }
      .info-content {
        .info-row {
          @include flexbox(flex, row, flex-start, center);
        }
        .overview {
          max-width: 1000px;
          color: $font-white;
          letter-spacing: 1px;
          font-weight: 300;
        }
        .genre-list {
          li {
            color: $base-pink-dark;
            display: inline;
            margin-right: 15px;
            font-weight: 300;
          }
        }
      }
    }
  }
}

//MEDIA QUERIES
@media (max-width : 1440px) {
  .service {
    background-color: red;
  }
    .similar-movies {
      height: 43vh;
      .movie-row {
        img {
          display: block;
          max-width: 230px;
          height: 275px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
}

@media (max-width: 1200px) {

}

@media (max-width : 768px) {
  .movie-container {
    .info-wrapper {
      .poster-image {
        width: 200px;
      }
    }
  }
}
@media (max-width : 480px) {
  .movie-container {
    .info-wrapper {
      .poster-image {
        width: 20px;
      }
    }
  }
}
@media (max-width : 320px) {
  .movie-container {
    .info-wrapper {
      .poster-image {
        width: 10px;
      }
    }
  }
}
@media (max-width : 240px) {
  .movie-container {
    .info-wrapper {
      .poster-image {
        width: 10px;
      }
    }
  }
}
