.backdrop {
  position: absolute;
  width: 100%;
  height: 60%;
  z-index: -9999;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top-left;
  filter: opacity(.2) grayscale(75%);
}

.movie-container {
    .info-wrapper {
      margin-top: 50px;
        .poster-image {
          margin-right: 20px;
          width: auto;
        }
        .info-content {
          h1 {
            justify-content: flex-start;
            font-size: 3vw;
            margin: 0px;
          }
          .tagline {
            font-size: 1vw;
            color: $font-h1;
          }
          .info-row {
            @include flexbox(flex, row, flex-start, center);
            margin-top: 25px;
            .votes {
              flex-shrink: 0;
              background-color: black;
              padding: 15px;
              margin-right: 10px;
              border-radius: 50%;
              text-align: center;
              .vote-average {
                color: $font-h1;
                font-size: 3vw;
                small {
                  font-size: 15px;
                  color: $font-search-light;
                }
              }
              .vote-count {
                color: $font-h1;
                font-size: 0.5vw;
              }
            }
            .overview {
              max-width: 850px;
              color: #ffffff;
            }
            .genre-list {
              li {
                color: white;
                display: inline;
                margin-right: 5px;
              }
            }
          }
        }
    }
  }

.movie-wrapper {
  @include flexbox(flex, column, center, center);
}

//MEDIA QUERIES
@media (max-width : 1440px) {
  .backdrop {
    height: 100%;
  }
  .movie-container {
    .info-wrapper {
      .poster-image {
        width: 200px;
      }
    }
  }
}
@media (max-width : 768px) {
  .movie-container {
    .info-wrapper {
      .poster-image {
        width: 200px;
      }
    }
  }
}
@media (max-width : 480px) {
  .movie-container {
    .info-wrapper {
      .poster-image {
        width: 20px;
      }
    }
  }
}
@media (max-width : 320px) {
  .movie-container {
    .info-wrapper {
      .poster-image {
        width: 10px;
      }
    }
  }
}
@media (max-width : 240px) {
  .movie-container {
    .info-wrapper {
      .poster-image {
        width: 10px;
      }
    }
  }
}
