.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -9999;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: opacity(.2) grayscale(75%);
}
.movie-container {
  .detail {
    color: white;
    font-weight: 300;
  }
  .header {
    display: flex;
    justify-content: flex-start;
    padding: 20px 0px 20px 0px;
    background: linear-gradient(135deg, rgba(255,25,25,0.8) 0%, rgba(135,23,133,0.6) 47%, rgba(0,21,255,0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1919', endColorstr='#0015ff', GradientType=1 );
    .logo {
      width: 100px;
      height: 100px;
      &:hover {
        cursor: pointer;
      }
    }
    .search-bar {
      flex-grow: 1;
      @include flexbox(flex, column, center, center);
      input {
        width: 60%;
      }
      .search-results-list {
        position: absolute;
        top: 95px;
        z-index: 9999;
        width: 59%;
      }
    }
  }

  .similar-movies {
    width: auto;
    height: 40vh;
    background-color: white;
    padding: 10px 15vw;
    p {
      margin-top: 0px;
      font-weight: bolder;
    }
    .movie-row {
      display: flex;
      justify-content: space-between;
      img {
        display: block;
        max-width: 100%;
        height: auto;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .jumbotron {
    padding-bottom: 20px;
    position: relative;
    height: 100%;
    overflow: hidden;
    .trailer-button {
      width: 150px;
      height: 45px;
      border: 1px solid white;
      text-align: center;
      vertical-align: middle;
      line-height: 45px;
      color: white;
      background: black;
      padding: 0px 5px 0px 5px;
      border-radius: 10px;
      font-size: 15px;
      font-weight: 800;
      letter-spacing: 1px;
      margin-left: 15px;
      &:hover {
        cursor: pointer;
        // border: 1px solid black;
        color: black;
        background: white;
      }
    }
    .info-wrapper {
      margin-top: 50px;
      .poster-image {
        width: 15%;
        border: 1px solid white;
        padding: 0px;
      }
      .info-content {
        .movie-title {
          font-weight: 700;
          font-size: 60px;
          margin: 0px;

        }
        .release-year {
          font-family: 'Open Sans Condensed';
          font-weight: 100;
        }
        .tagline {
          color: $base-pink-dark;
          font-weight: 300;
        }
        .info-row {
          @include flexbox(flex, row, flex-start, center);

        }
        .overview {
          max-width: 1000px;
          color: $font-white;
          letter-spacing: 1px;
          font-weight: 300;
        }
        .genre-list {
          li {
            color: $base-pink-dark;
            display: inline;
            margin-right: 15px;
            font-weight: 300;
          }
        }
      }
    }
  }
}

.votes {
  @include flexbox(flex, row, flex-start, center);
  .star-icon {
    color: $base-pink-dark;
    font-size: 65px;
  }
  .vote-average {
    color: $font-white;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: larger;
  }
  .vote-count {
    color: $font-white;
    opacity: .5;
    font-weight: 300;
  }
}

//MEDIA QUERIES
@media (max-width : 1440px) {
  .service {
    background-color: red;
  }
    .similar-movies {
      height: 43vh;
      .movie-row {
        img {
          display: block;
          max-width: 230px;
          height: 275px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
}

@media (max-width: 1200px) {

}

@media (max-width : 768px) {
  .movie-container {
    .info-wrapper {
      .poster-image {
        width: 200px;
      }
    }
  }
}
@media (max-width : 480px) {
  .movie-container {
    .info-wrapper {
      .poster-image {
        width: 20px;
      }
    }
  }
}
@media (max-width : 320px) {
  .movie-container {
    .info-wrapper {
      .poster-image {
        width: 10px;
      }
    }
  }
}
@media (max-width : 240px) {
  .movie-container {
    .info-wrapper {
      .poster-image {
        width: 10px;
      }
    }
  }
}
