.search-bar {
  input {
    width: 100%;
    color: $font-search-dark;
    font-size: 20px;
    padding: 10px;

    border: 2px solid $base-pink;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    &:focus {
      outline: none;
      box-shadow: 0 0 3pt 2pt $base-pink;
    }
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $font-search-light;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $font-search-light;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $font-search-light;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $font-search-light;
  }
}

.search-results-list {
  height: 500px;
  width: 40%;
  overflow-y: auto;
  border: 4px solid $base-pink;
  position: absolute;
  border-radius: 5px;
  background-color: $search-bg-color;
  .results-item {
    @include flexbox(flex, row, flexstart, center);
    padding: 10px;
    p {
      cursor: default;
      font-size: 20px;
    }
    img {
      width: 50px;
    }
    &:hover {
      background-color: rgba(255,204,204,0.5);
      border-radius: 10px;
    }
  }
}


