.streaming-box {
  color: $font-white;
  margin-top: 5px;
  span {
    font-size: smaller;
    font-weight: bolder;
  }
  .services {
    @include flexbox(flex, row, flex-start, center);
    margin-top: 5px;
    .service {
      @include flexbox(flex, column, center, center);
      width: 150px;
      height: 45px;
      border: 1px solid $font-h1;
      background: black;
      border-radius: 10px;
      margin-right: 20px;
      .service-logo {
        width: 80px;
        height: auto;
      }
    }
  }
}

@media (max-width : 1440px) {
  .streaming-box {
    .service {
      height: 35px;
      padding: 0 30px;
      .service-name {
        font-size: 20px;
      }
    }
  }
}
