/*------------------------------------------------------------------
[Table of contents]

1. Body
2. Header
3. Search
4. Movie

-------------------------------------------------------------------*/
/*
====================================================================
            1. Body
====================================================================
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:300,400,600,700,800");
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  background-color: #14213D; }

ul {
  padding: 0; }
  ul li {
    list-style-type: none; }

/*
====================================================================
            2. Header
====================================================================
*/
h1 {
  font-size: 3em;
  display: inline;
  color: #fff; }

.cisi-gradient:after {
  background: #ff1919;
  background: -moz-linear-gradient(-45deg, #ff1919 0%, #871785 47%, #0015ff 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #ff1919), color-stop(47%, #871785), color-stop(100%, #0015ff));
  background: -webkit-linear-gradient(-45deg, #ff1919 0%, #871785 47%, #0015ff 100%);
  background: -o-linear-gradient(-45deg, #ff1919 0%, #871785 47%, #0015ff 100%);
  background: -ms-linear-gradient(-45deg, #ff1919 0%, #871785 47%, #0015ff 100%);
  background: linear-gradient(135deg, #ff1919 0%, #871785 47%, #0015ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1919', endColorstr='#0015ff', GradientType=1 ); }

.logo {
  width: 100px;
  height: 100px; }
  .logo:hover {
    cursor: pointer; }

.flex-column {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: flex-start;
  align-items: default; }

.home-container #bg-img {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
  opacity: 0.3; }

.home-container:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .6;
  z-index: -1; }

.home-container .search-results-list {
  background-color: rgba(255, 255, 255, 0.8); }

.home-container .logo {
  width: 10%;
  margin-bottom: 20px; }

@media (max-width: 1440px) {
  .home-container .search-results-list {
    height: 275px; } }

.home-wrapper {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 75%;
  width: 100%; }

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -9999;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: opacity(0.2) grayscale(75%); }

.movie-container .header {
  display: flex;
  justify-content: flex-start;
  padding: 20px 0px 20px 0px;
  background: linear-gradient(135deg, rgba(255, 25, 25, 0.8) 0%, rgba(135, 23, 133, 0.6) 47%, rgba(0, 21, 255, 0.6) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1919', endColorstr='#0015ff', GradientType=1 ); }
  .movie-container .header .logo {
    width: 100px;
    height: 100px; }
    .movie-container .header .logo:hover {
      cursor: pointer; }
  .movie-container .header .search-bar {
    flex-grow: 1;
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    align-items: center; }
    .movie-container .header .search-bar input {
      width: 60%; }
    .movie-container .header .search-bar .search-results-list {
      position: absolute;
      top: 95px;
      z-index: 9999;
      width: 59%; }

.movie-container .similar-movies {
  width: auto;
  height: 40vh;
  background-color: white;
  padding: 10px 15vw; }
  .movie-container .similar-movies p {
    margin-top: 0px;
    font-weight: bolder; }
  .movie-container .similar-movies .movie-row {
    display: flex;
    justify-content: space-between; }
    .movie-container .similar-movies .movie-row img {
      display: block;
      max-width: 100%;
      height: auto; }
      .movie-container .similar-movies .movie-row img:hover {
        cursor: pointer; }

.movie-container .jumbotron {
  padding-bottom: 20px;
  position: relative;
  height: 100%;
  overflow: hidden; }
  .movie-container .jumbotron .info-content > * {
    margin-bottom: 20px; }
  .movie-container .jumbotron .info-wrapper {
    display: flex;
    display: -ms-flexbox;
    flex-direction: row;
    -ms-flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px 25%; }
    .movie-container .jumbotron .info-wrapper .poster-image {
      width: 45%;
      border: 1px solid white;
      padding: 0px;
      margin-right: 25px; }
    .movie-container .jumbotron .info-wrapper .info-content .info-row {
      display: flex;
      display: -ms-flexbox;
      flex-direction: row;
      -ms-flex-direction: row;
      justify-content: flex-start;
      align-items: center; }
    .movie-container .jumbotron .info-wrapper .info-content .overview {
      max-width: 1000px;
      color: #fff;
      letter-spacing: 1px;
      font-weight: 300; }
    .movie-container .jumbotron .info-wrapper .info-content .genre-list li {
      color: #ff9999;
      display: inline;
      margin-right: 15px;
      font-weight: 300; }

@media (max-width: 1440px) {
  .service {
    background-color: red; }
  .similar-movies {
    height: 43vh; }
    .similar-movies .movie-row img {
      display: block;
      max-width: 230px;
      height: 275px; }
      .similar-movies .movie-row img:hover {
        cursor: pointer; } }

@media (max-width: 768px) {
  .movie-container .info-wrapper .poster-image {
    width: 200px; } }

@media (max-width: 480px) {
  .movie-container .info-wrapper .poster-image {
    width: 20px; } }

@media (max-width: 320px) {
  .movie-container .info-wrapper .poster-image {
    width: 10px; } }

@media (max-width: 240px) {
  .movie-container .info-wrapper .poster-image {
    width: 10px; } }

.search-bar input {
  width: 650px;
  color: #666;
  font-size: 20px;
  padding: 10px;
  border: 2px solid #FFCCCC;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px; }
  .search-bar input:focus {
    outline: none;
    box-shadow: 0 0 3pt 2pt #FFCCCC; }

.search-bar ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #e6e6e6; }

.search-bar ::-moz-placeholder {
  /* Firefox 19+ */
  color: #e6e6e6; }

.search-bar :-ms-input-placeholder {
  /* IE 10+ */
  color: #e6e6e6; }

.search-bar :-moz-placeholder {
  /* Firefox 18- */
  color: #e6e6e6; }

.search-results-list {
  height: 500px;
  width: 665px;
  overflow-y: auto;
  border: 4px solid #FFCCCC;
  position: absolute;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9); }
  .search-results-list .results-item {
    display: flex;
    display: -ms-flexbox;
    flex-direction: row;
    -ms-flex-direction: row;
    justify-content: flexstart;
    align-items: center;
    padding: 10px; }
    .search-results-list .results-item p {
      cursor: default;
      font-size: 20px; }
    .search-results-list .results-item img {
      width: 50px; }
    .search-results-list .results-item:hover {
      background-color: rgba(255, 204, 204, 0.5);
      border-radius: 10px; }

.streaming-box {
  color: #fff;
  margin-top: 5px; }
  .streaming-box span {
    font-size: smaller;
    font-weight: bolder; }
  .streaming-box .services {
    display: flex;
    display: -ms-flexbox;
    flex-direction: row;
    -ms-flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px; }
    .streaming-box .services .service {
      display: flex;
      display: -ms-flexbox;
      flex-direction: column;
      -ms-flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 45px;
      border: 1px solid #B3E6A6;
      background: black;
      border-radius: 10px;
      margin-right: 20px; }
      .streaming-box .services .service .service-logo {
        width: 80px;
        height: 25px; }

@media (max-width: 1440px) {
  .streaming-box .service {
    height: 35px;
    padding: 0 30px; }
    .streaming-box .service .service-name {
      font-size: 20px; } }

.starring-box .title {
  color: #fff;
  margin-right: 15px; }

.starring-box .full-cast {
  text-decoration: none;
  color: #ff9999; }

.starring-box .starring-row {
  display: flex;
  display: -ms-flexbox;
  flex-direction: row;
  -ms-flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 5px; }
  .starring-box .starring-row .profile-container {
    width: 190px; }
    .starring-box .starring-row .profile-container .img-wrapper {
      width: 185px;
      height: 185px;
      overflow: hidden;
      border: 1px solid #ff9999; }
      .starring-box .starring-row .profile-container .img-wrapper img {
        max-width: 185px;
        position: relative;
        bottom: 17px; }
    .starring-box .starring-row .profile-container .character {
      color: #fff;
      font-weight: 300; }
    .starring-box .starring-row .profile-container .actor {
      color: #ff9999;
      font-weight: 300; }

img.profile-image {
  width: 400px; }

.info-content #actor {
  color: white; }

.title-bar .trailer-button {
  width: 150px;
  height: 35px;
  border: 1px solid white;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
  color: white;
  background: black;
  padding: 0px 5px 0px 5px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-left: 15px; }
  .title-bar .trailer-button .play-icon {
    position: relative;
    bottom: 1px; }
  .title-bar .trailer-button:hover {
    cursor: pointer;
    color: black;
    background: white; }

.title-bar .movie-title {
  margin: 0px; }
  .title-bar .movie-title .release-year {
    font-family: 'Open Sans Condensed';
    margin-left: 10px; }
  .title-bar .movie-title .trailer-button {
    display: inline-block; }

.title-bar .inline-details {
  position: relative;
  bottom: 5px;
  left: 3px; }
  .title-bar .inline-details .tagline {
    color: #ff9999;
    margin-left: 25px; }
  .title-bar .inline-details span {
    font-size: 15px;
    color: #fff;
    margin-right: 10px;
    font-weight: 300; }

.votes {
  display: flex;
  display: -ms-flexbox;
  flex-direction: row;
  -ms-flex-direction: row;
  justify-content: flex-start;
  align-items: center; }
  .votes .star-icon {
    color: #ff9999;
    font-size: 65px; }
  .votes .vote-average {
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: larger; }
  .votes .vote-count {
    color: #fff;
    opacity: .5;
    font-weight: 300; }
