/*------------------------------------------------------------------
[Table of contents]

1. Body
2. Header
3. Search
4. Movie

-------------------------------------------------------------------*/
/*
====================================================================
            1. Body
====================================================================
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500,700|Quicksand");
body {
  font-family: 'Quicksand', sans-serif;
  margin: 0px;
  background-color: #333333; }

ul {
  padding: 0; }
  ul li {
    list-style-type: none; }

.container {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: normal;
  align-items: normal; }

/*
====================================================================
            2. Header
====================================================================
*/
h1 {
  display: flex;
  display: -ms-flexbox;
  flex-direction: row;
  -ms-flex-direction: row;
  justify-content: center;
  align-items: normal;
  color: #B3E6A6; }

.home-container #bg-img {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999; }

.home-container:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-linear-gradient(top left, #002f4b, #dc4225);
  background-image: -o-linear-gradient(top left, #002f4b, #dc4225);
  background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
  opacity: .6;
  z-index: -1; }

.home-container h1 {
  font-size: 100px; }

.home-container span {
  background-color: pink; }

.movie-container .jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 25px; }
  .movie-container .jumbotron .backdrop-image {
    width: 100%;
    border-bottom: 4px solid #FFCCCC;
    border-top: 4px solid #FFCCCC; }
  .movie-container .jumbotron .info-wrapper {
    position: absolute;
    bottom: 500px;
    margin-bottom: auto; }
    .movie-container .jumbotron .info-wrapper .poster-image {
      width: 15vw; }

.movie-container .search-bar {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: baseline;
  align-items: center; }
  .movie-container .search-bar input {
    color: #666;
    width: 50%;
    font-size: 20px;
    padding: 10px;
    border: 2px solid #FFCCCC;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px; }
    .movie-container .search-bar input:focus {
      outline: none;
      box-shadow: 0 0 3pt 2pt #FFCCCC; }
  .movie-container .search-bar ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #e6e6e6; }
  .movie-container .search-bar ::-moz-placeholder {
    /* Firefox 19+ */
    color: #e6e6e6; }
  .movie-container .search-bar :-ms-input-placeholder {
    /* IE 10+ */
    color: #e6e6e6; }
  .movie-container .search-bar :-moz-placeholder {
    /* Firefox 18- */
    color: #e6e6e6; }

.movie-container .search-results-list {
  width: 50%;
  border: 4px solid #FFCCCC;
  position: absolute;
  top: 139px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.9);
  max-height: 460px;
  overflow: scroll; }
  .movie-container .search-results-list .results-item {
    display: flex;
    display: -ms-flexbox;
    flex-direction: row;
    -ms-flex-direction: row;
    justify-content: flexstart;
    align-items: center;
    padding: 10px; }
    .movie-container .search-results-list .results-item p {
      cursor: default;
      font-size: 20px; }
    .movie-container .search-results-list .results-item img {
      width: 50px; }
    .movie-container .search-results-list .results-item:hover {
      background-color: rgba(255, 204, 204, 0.5);
      border-radius: 10px; }

.search-bar {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: baseline;
  align-items: center; }
  .search-bar input {
    color: #666;
    width: 50%;
    font-size: 20px;
    padding: 10px;
    border: 2px solid #FFCCCC;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px; }
    .search-bar input:focus {
      outline: none;
      box-shadow: 0 0 3pt 2pt #FFCCCC; }
  .search-bar ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #e6e6e6; }
  .search-bar ::-moz-placeholder {
    /* Firefox 19+ */
    color: #e6e6e6; }
  .search-bar :-ms-input-placeholder {
    /* IE 10+ */
    color: #e6e6e6; }
  .search-bar :-moz-placeholder {
    /* Firefox 18- */
    color: #e6e6e6; }

.search-results-list {
  width: 50%;
  border: 4px solid #FFCCCC;
  position: absolute;
  top: 139px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.9); }
  .search-results-list .results-item {
    display: flex;
    display: -ms-flexbox;
    flex-direction: row;
    -ms-flex-direction: row;
    justify-content: flexstart;
    align-items: center;
    padding: 10px; }
    .search-results-list .results-item p {
      cursor: default;
      font-size: 20px; }
    .search-results-list .results-item img {
      width: 50px; }
    .search-results-list .results-item:hover {
      background-color: rgba(255, 204, 204, 0.5);
      border-radius: 10px; }
